DISCORD_TOKEN=MTQ3MjEzMDgwNDU0ODI0MzU1OQ.GQENJ4.WwVkCPPf8lK3FlhYqKfjFGw1jOTG0kG_3hUr6g
MONGO_TOKEN=mongodb+srv://cuiteparilive_db_user:<sSCkKkmA7k2ORkW9>@narutogaming.l0rnmaf.mongodb.net/?appName=NARUTOGAMING
GIPHY_TOKEN=UkrkpwkwDFv30naoW6Gi73z9OTsGMkRA
WEBHOOK_ID=1474783391546216582
WEBHOOK_TOKEN=dag9s3uerAk-pQoGzMir-M3sTRgbqF458nd3xS0Xk8WIVu0t3dIcF2z1pLC4h2Ijh62p
DISCORD_ID=1393858776662020217

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI= 
